<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex>Garden Data Tracker</div>
    <div>
      <button mat-menu-item [matMenuTriggerFor]="menu">
        <fa-icon [icon]="faInfoCircle"></fa-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <span>Author: Ben Super</span>
        </button>
        <button mat-menu-item disabled>
          <span>Version: 1.0.0</span>
        </button>
        <button mat-menu-item disabled>
          <span>Release: August 2019</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Latest">
    <latest-section [gatherer]="gatherer"></latest-section>
  </mat-tab>
  <mat-tab label="Today">
    <mat-tab-group>
      <mat-tab label="Temperature">
        <temp-data-chart [gatherer]="gatherer"></temp-data-chart>
      </mat-tab>
      <mat-tab label="Soil Moisture">
        <sm-data-chart [gatherer]="gatherer"></sm-data-chart>
      </mat-tab>
      <mat-tab label="Sunlight">
        <sun-data-chart [gatherer]="gatherer"></sun-data-chart>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Past Data">
    <month-data-chart [gatherer]="gatherer"></month-data-chart>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>