<div class="settings-container">
  <div class="settings-container-row">
    <mat-form-field fxFlex="49%">
      <input matInput placeholder="Lower temperature threshold" [formControl]="settings.tempLower" required>
      <mat-error *ngIf="settings.tempLower.invalid">{{getErrorMessage(settings.tempLower)}}</mat-error>
      <span matSuffix>&#176;F</span>
    </mat-form-field>
    <mat-form-field fxFlex="49%">
      <input matInput placeholder="Upper temperature threshold" [formControl]="settings.tempUpper" required>
      <mat-error *ngIf="settings.tempUpper.invalid">{{getErrorMessage(settings.tempUpper)}}</mat-error>
      <span matSuffix>&#176;F</span>
    </mat-form-field>
  </div>
  <div class="settings-container-row">
    <mat-form-field fxFlex="49%">
      <input matInput placeholder="Lower soil moisture threshold" [formControl]="settings.soilLower" required>
      <mat-error *ngIf="settings.soilLower.invalid">{{getErrorMessage(settings.soilLower)}}</mat-error>
      <span matSuffix>%</span>
    </mat-form-field>
    <mat-form-field fxFlex="49%">
      <input matInput placeholder="Upper soil moisture threshold" [formControl]="settings.soilUpper" required>
      <mat-error *ngIf="settings.soilUpper.invalid">{{getErrorMessage(settings.soilUpper)}}</mat-error>
      <span matSuffix>%</span>
    </mat-form-field>
  </div>
  <div class="settings-container-row">
    <mat-form-field fxFlex="49%">
      <input matInput placeholder="In shade threshold" [formControl]="settings.shadeThresh" required>
      <mat-error *ngIf="settings.shadeThresh.invalid">{{getErrorMessage(settings.shadeThresh)}}</mat-error>
      <span matSuffix>lx</span>
    </mat-form-field>
    <mat-form-field fxFlex="49%">
      <input matInput placeholder="In sunlight threshold" [formControl]="settings.sunThresh" required>
      <mat-error *ngIf="settings.sunThresh.invalid">{{getErrorMessage(settings.sunThresh)}}</mat-error>
      <span matSuffix>lx</span>
    </mat-form-field>
  </div>
</div>