<div style="width: 100%;">
  <canvas
      baseChart
      [chartType]="'line'"
      [datasets]="temperatureData"
      [labels]="timestamps"
      [options]="chartOptions"
      [legend]="true">
  </canvas>
</div>
<div style="width: 100%;">
  <canvas
      baseChart
      [chartType]="'line'"
      [datasets]="soilMoistureData"
      [labels]="timestamps"
      [options]="chartOptions"
      [legend]="true">
  </canvas>
</div>
<div style="width: 100%;">
  <canvas
      baseChart
      [chartType]="'line'"
      [datasets]="sunlightData"
      [labels]="timestamps"
      [options]="chartOptions"
      [legend]="true">
  </canvas>
</div>
<div></div>